//HEADER
$header-padding: 0;
$header-bg-color: beige;
$header-padding: 5ch;
$header-margin: 3ch;

//NAV
$nav-padding: 3ch;
$nav-bg-color: lightblue;

//MAIN
$main-padding: 3ch;
$main-bg-color: lightpink;

//ARTICLE
$article-padding: 3ch;
$article-margin: 1ch;
$article-bg-color: white;

//FOOTER
// $footer-bg-color: yellow;