//HEADER
$header-padding: 0;
$header-bg-color: beige;
$header-padding: 5ch;
$header-margin: 3ch;

//NAV
$nav-padding: 3ch;
$nav-bg-color: lightblue;

//MAIN
$main-padding: 0ch;
$main-bg-color: lightpink;