@use 'variables' as variables;

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

header {
    background-color: variables.$header-bg-color;
    padding: variables.$header-padding;
    margin: variables.$header-margin;

    .header-img-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

nav {
    background-color: variables.$nav-bg-color;
    padding: variables.$nav-padding;
    margin: auto;
}

main {
    max-width: 50%;
    margin: auto;
    padding: variables.$main-padding;
    background-color: variables.$main-bg-color;
    border-radius: 10px;
    border: 1px solid black;

    //main flex
    display: flex;
    flex-direction: column;

    //main span
    span {
        padding: 2ch;
        text-align: center;
    }

    //main article
    article {
        background-color: variables.$article-bg-color;
        padding: variables.$article-padding;
        margin: variables.$article-margin;
        border-radius: 10px;
        border: 1px solid black;

        //article flex
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
    }
}

// footer {
//     background-color: variables.$footer-bg-color;
// }

.header-img {
    width: 20%;
}